@import "bootstrap";

html, body {
  height: 100%;
}

.bg {
  background-image: url("../../assets/images/bg.jpeg");
  background-position: center;
  background-size: cover;
}

main {
  opacity: 0.96;
}
